@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Fira Sans", sans-serif;
}
body{
    background-color: #F5F5F5;
}

/* shared section */

.margin{
    margin: 24px 160px;
}
.title-name{
    font-size: 40px;
    color: #0E0E0E;
    font-weight: bold;
}

.btn-1{
    color: #006A50;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 30px;
    background-color: transparent;
    border: 1px solid #006A50;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
}
.btn-1:hover{
    background-color: #006A50;
    color: white;
}

.btn-2{
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 30px;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.btn-2:hover{
    background-color: #004b38;
}

.btn-common{
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.h3{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: bold;
}

.para-1{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    line-height: 24px;
}

/* header section */

.page-title{
    display: flex;
    justify-content: space-between;
}

.banner{
    display: flex;
    gap: 60px;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 0 60px;
}

.banner-description h4{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 108px;
}
.banner-description h1{
    color: #0E0E0E;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
}
.banner img{
    margin: 80px 0;
}

header{
    margin-bottom: 80px;
}

/* main section */

/* main - pillar */
.pillar-section-title{
    margin-bottom: 30px;
}
.pillar-container{
    display: flex;
    gap: 22px;
    margin-bottom: 60px;
}
.pillar-content{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: white;
    padding: 24px;
}
.pillar-content img{
    margin-bottom: 24px;
}
.pillar-content h3{
    margin-bottom: 12px;
}

/* main - future vision */

.vision-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-bottom: 32px;

}
.future-vision h1{
    margin-bottom: 24px;
}
.future-vision p{
    margin-bottom: 32px;
}

.vision-1, .vision-2, .vision-3{
    padding: 30px;
    border-radius: 16px;
}

.vision-1{
    background-color: rgba(84, 144, 245, 0.2);
    width: 33%;
}
.vision-2{
    background-color: rgba(198, 228, 214, 1);
    width: 33%;
}
.vision-3{
    background-color: rgba(247, 235, 207, 1);
    width: 33%;
}

.vision-1 button{
    background-color: #5490F5;
}
.vision-1 button:hover{
    background-color: #335da4;
}
.vision-2 button{
    
    background-color: #09A15C;
}
.vision-2 button:hover{
    background-color: #064a2b;
}
.vision-3 button{
    
    background-color: #FFC239;
}
.vision-3 button:hover{
    background-color: #9f7a24;
}

/* footer section */


